*{
    font-size: 12;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    background-color: rgba(185, 240, 134, 0.884);
}
.belleza{
    color: rgba(124, 13, 13, 0.865);
    font-style: italic;
    font-family: verdana;
}
.h14{
    color: rgb(47, 4, 82);
}
.pli{
    color: rgb(82, 148, 137);
}
.li{
    color: blueviolet;
}